html {
    line-height: $main_line-height;
}

body {
    font-family: $main_font-family;
    font-size: $main_font-size;
}

.main-wrapper {
    max-width: $main-layout_max-width;
    margin: 0px auto;
    padding: $main-layout_padding;
    @include breakpoint("max_sm") {
        padding: calc(#{$main-layout_padding} / 2);
    }
}