/* fonts */

$main_font-size: 16px;
$main_font-family: Sans-Serif;
$main_line-height: 1.4;
$header_line-height: 1.2;

$main-layout_max-width: 1000px;
$main-layout_margin: 40px;
$main-layout_padding: 40px;