%body.theme {
    background-color: Color(mono, light);
    color: Color(mono, dark);
}

%header.main-header.theme {
    background-color: Color(primary, mid);
    color: Color(mono, light);
}

%footer.main-footer.theme {
    background-color: Color(primary, mid);
    color: Color(mono, light);
}